.footer {
    background-color: $gray;
    height: 200px;

    &-text {
        background-color:$link-hover;
        text-align: center;
        font-size: 18px;
        color:$white;

        margin: 0;
        padding: 12px;
    }

    &-text2 {
        background-color:$black;
        text-align: left;
        font-size: 14px;
        color:$white;

        margin: 0;
        padding: 10px;
    }
}