<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home6</title>
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="shortcut icon" href="../img/icons/home5.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

</head>

<body>
    <header class="header">
        <div class="header-logo">
            <a href="#" class="header-logo__link">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDZNqLextDApxAJ6rMBKG43ssTw38WcCnvIg&usqp=CAU"
                    alt="header_logo" class="header-logo__link_icon">
            </a>
        </div>

        <nav class="navbar">
            <ul class="navbar-lists">
                <li class="navbar-lists__list"><a href="#" class="link">Home</a></li>
                <li class="navbar-lists__list"><a href="#" class="link">Categories</a></li>
                <li class="navbar-lists__list"><a href="#" class="link">Product</a></li>
                <li class="navbar-lists__list"><a href="#" class="link">Home</a></li>
                <li class="navbar-lists__list"><a href="#" class="link">Categories</a></li>
                <div class="navbar-lists__logo">
                    <a href="#" class="link ">
                        <img src="https://img.icons8.com/nolan/256/money-bag.png" alt="header_logo"
                            class="navbar-lists__logo_icon">
                    </a>
                    <a href="tel:+375-29-123-45-67" class="link ">
                        <img src="https://img.icons8.com/nolan/256/iphone.png" alt="header_logo"
                            class="navbar-lists__logo_icon">
                    </a>
                    <a href="mailto:contacts@gmail.com" class="link">
                        <img src="https://img.icons8.com/nolan/256/admin-settings-male.png"
                            class="navbar-lists__logo_icon">
                    </a>
                </div>
            </ul>
        </nav>
        <div class="header-text">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur veniam fuga ipsum rerum assumenda.
                Sunt pariatur illum temporibus voluptas unde fuga natus assumenda dolore, earum praesentium obcaecati
                corrupti cum architecto?
            </p>
        </div>
        <div class="header-logoCall">

            <a href="tel:+375-29-123-45-67" class="header-logoCall__link">
                <img src="https://img.icons8.com/nolan/256/iphone.png" alt="header_logo"
                    class="header-logoCall__link_icon">
            </a>

        </div>

    </header>
    <main class="container">
        <section class="about">
            <h1 class="title">ABOUT</h1>
            <div class="about-text">
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nostrum eos tenetur quos iste
                    deserunt reprehenderit libero voluptatem quod, delectus ratione? Maxime placeat quis, ab, fugiat
                    nesciunt unde quidem deleniti mollitia omnis ipsum vitae eveniet expedita numquam molestias quos est
                    blanditiis. Commodi debitis sint magni eaque excepturi velit veritatis architecto reprehenderit,
                    quisquam quia nulla quas, distinctio atque at culpa libero doloremque ullam, repellat hic officia!
                    Voluptatem culpa voluptate ipsum, aliquid, tenetur cumque earum, aliquam odio quas maiores atque
                    nulla dignissimos? </p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nostrum eos tenetur quos iste
                    deserunt reprehenderit libero voluptatem quod, delectus ratione? Maxime placeat quis, ab, fugiat
                    nesciunt unde quidem deleniti mollitia omnis ipsum vitae eveniet expedita numquam molestias quos est
                    blanditiis. Commodi debitis sint magni eaque excepturi velit veritatis architecto reprehenderit,
                    quisquam quia nulla quas, distinctio atque at culpa libero doloremque ullam, repellat hic officia!
                    Voluptatem culpa voluptate ipsum, aliquid, tenetur cumque earum, aliquam odio quas maiores atque
                    nulla dignissimos? </p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nostrum eos tenetur quos iste
                    deserunt reprehenderit libero voluptatem quod, delectus ratione? Maxime placeat quis, ab, fugiat
                    nesciunt unde quidem deleniti mollitia omnis ipsum vitae eveniet expedita numquam molestias quos est
                    blanditiis. Commodi debitis sint magni eaque excepturi velit veritatis architecto reprehenderit,
                    quisquam quia nulla quas, distinctio atque at culpa libero doloremque ullam, repellat hic officia!
                    Voluptatem culpa voluptate ipsum, aliquid, tenetur cumque earum, aliquam odio quas maiores atque
                    nulla dignissimos? </p>
                <br>
                <br>
                <p><a href="tel:+1212-736-3100">+1212-736-3100</a></p>
                <p><a href="mailto:contacts@gmail.com">contacts@gmail.com</a></p>
            </div>
        </section>


        <section class="delivery">
            <h1 class="title">DELIVERY</h1>
            <div>
                <div>
                    <ul class="delivery-logo">
                        <li><img src="https://img.icons8.com/nolan/256/truck.png" class="delivery-logo__icon"
                                alt="" /><br>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </li>
                        <li><img src="https://img.icons8.com/nolan/256/truck.png" class="delivery-logo__icon"
                                alt="" /><br>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </li>
                        <li><img src="https://img.icons8.com/nolan/256/truck.png" class="delivery-logo__icon"
                                alt="" /><br>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </li>
                        <li><img src="https://img.icons8.com/nolan/256/truck.png" class="delivery-logo__icon"
                                alt="" /><br>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </li>
                    </ul>
                </div>
                <div class="delivery-text">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam deleniti odio dolorum,
                        perferendis ipsa voluptates reprehenderit, placeat quae ipsam sapiente cum. Nisi rem repellendus
                        necessitatibus fugit placeat tenetur nostrum. Aspernatur laboriosam id deserunt odit, sint
                        voluptas rem eaque. Ratione, tenetur.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam deleniti odio dolorum,
                        perferendis ipsa voluptates reprehenderit, placeat quae ipsam sapiente cum. Nisi rem repellendus
                        necessitatibus fugit placeat tenetur nostrum. Aspernatur laboriosam id deserunt odit, sint
                        voluptas rem eaque. Ratione, tenetur.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam deleniti odio dolorum,
                        perferendis ipsa voluptates reprehenderit, placeat quae ipsam sapiente cum. Nisi rem repellendus
                        necessitatibus fugit placeat tenetur nostrum. Aspernatur laboriosam id deserunt odit, sint
                        voluptas rem eaque. Ratione, tenetur.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam deleniti odio dolorum,
                        perferendis ipsa voluptates reprehenderit, placeat quae ipsam sapiente cum. Nisi rem repellendus
                        necessitatibus fugit placeat tenetur nostrum. Aspernatur laboriosam id deserunt odit, sint
                        voluptas rem eaque. Ratione, tenetur.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam deleniti odio dolorum,
                        perferendis ipsa voluptates reprehenderit, placeat quae ipsam sapiente cum. Nisi rem repellendus
                        necessitatibus fugit placeat tenetur nostrum. Aspernatur laboriosam id deserunt odit, sint
                        voluptas rem eaque. Ratione, tenetur.</p>
                </div>

            </div>


        </section>


        <section class="ourProduct">
            <h1 class="title">OUR PRODUCTS</h1>
            <ul class="ourProduct-products">
                <li class="ourProduct-products__product">

                    <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg"
                        alt="product" class="ourProduct-products__product_productImage">

                </li>
                <li class="ourProduct-products__product">

                    <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg"
                        alt="product" class="ourProduct-products__product_productImage">

                </li>
                <li class="ourProduct-products__product">

                    <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg"
                        alt="product" class="ourProduct-products__product_productImage">

                </li>
                <li class="ourProduct-products__product">

                    <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg"
                        alt="product" class="ourProduct-products__product_productImage">

                </li>
                <li class="ourProduct-products__product">

                    <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg"
                        alt="product" class="ourProduct-products__product_productImage">

                </li>
                <li class="ourProduct-products__product">

                    <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg"
                        alt="product" class="ourProduct-products__product_productImage">

                </li>
                <li class="ourProduct-products__product">

                    <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg"
                        alt="product" class="ourProduct-products__product_productImage">

                </li>
                <li class="ourProduct-products__product">

                    <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg"
                        alt="product" class="ourProduct-products__product_productImage">

                </li>
                <li class="ourProduct-products__product">

                    <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg"
                        alt="product" class="ourProduct-products__product_productImage">

                </li>
                <li class="ourProduct-products__product">

                    <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg"
                        alt="product" class="ourProduct-products__product_productImage">

                </li>
                <li class="ourProduct-products__product">

                    <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg"
                        alt="product" class="ourProduct-products__product_productImage">

                </li>
                <li class="ourProduct-products__product">

                    <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg"
                        alt="product" class="ourProduct-products__product_productImage">

                </li>
            </ul>
        </section>
        <section>
            <h1 class="title">ADDITIONAL PRODUCTS</h1>
            <div class="swiper">

                <div class="swiper-slids">
                    <div class="swiper-slids__slide">
                        <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg" alt=""
                            width="150" height="150">
                        <h2>Title</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, similique?</p>
                    </div>
                    <div class="swiper-slids__slide">
                        <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg" alt=""
                            width="150" height="150">
                        <h2>Title</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, similique?</p>
                    </div>
                    <div class="swiper-slids__slide">
                        <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg" alt=""
                            width="150" height="150">
                        <h2>Title</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, similique?</p>
                    </div>
                    <div class="swiper-slids__slide">
                        <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg" alt=""
                            width="150" height="150">
                        <h2>Title</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, similique?</p>
                    </div>

                </div>

                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>
        </section>




        <section>
            <h1 class="title">REVIEWED PRODUCTS</h1>
            <div class="swiper">

                <div class="swiper-slids">
                    <div class="swiper-slids__slide">
                        <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg" alt=""
                            width="150" height="150">
                        <h2>Title</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, similique?</p>
                    </div>
                    <div class="swiper-slids__slide">
                        <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg" alt=""
                            width="150" height="150">
                        <h2>Title</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, similique?</p>
                    </div>
                    <div class="swiper-slids__slide">
                        <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg" alt=""
                            width="150" height="150">
                        <h2>Title</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, similique?</p>
                    </div>
                    <div class="swiper-slids__slide">
                        <img src="https://www.w3.org/2020/maps/assets/media/header-map/map_960x540_with_code.jpg" alt=""
                            width="150" height="150">
                        <h2>Title</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, similique?</p>
                    </div>

                </div>

                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>
        </section>





        <section class="contact">
            <h1 class="title">CONTACTS</h1>


            <div class="contact-data">
                <h1>Where to find us?</h1>
                <p> 350 5th Ave, Нью-Йорк, NY 10118 </p>
                <p><a href="tel:+1212-736-3100" class="contacts">+1212-736-3100</a></p>
                <p><a href="mailto:contacts@gmail.com" class="contacts">contacts@gmail.com</a></p>
            </div>
            <div class="contact-form">
                <form name="contact" method="POST">
                    <fieldset class="contact-form__card">

                        <p>Welcome</p>
                        <p>Let's create your account!</p>


                        <input class="contact-form__card_input" type="text" required placeholder="First name" /><br>


                        <input class="contact-form__card_input" type="text" required placeholder="Last name" /><br>


                        <input class="contact-form__card_input" type="email" required placeholder="Email" /><br>


                        <input type="submit" class="btn">


                    </fieldset>
            </div>
        </section>

    </main>
    <footer class="footer">
        <div class="footer-text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>

        <nav class="navbar">
            <ul class="navbar-lists">
                <li class="navbar-lists__list"><a href="#" class="link">Home</a></li>
                <li class="navbar-lists__list"><a href="#" class="link">Categories</a></li>
                <li class="navbar-lists__list"><a href="#" class="link">Product</a></li>
                <li class="navbar-lists__list"><a href="#" class="link">Home</a></li>
                <li class="navbar-lists__list"><a href="#" class="link">Categories</a></li>
                <li class="navbar-lists__list"><a href="#" class="link">Product</a></li>

            </ul>
        </nav>
        <div class="footer-text2">
            <p> &#169 All rights reserved &brvbar 2023</p>
        </div>



    </footer>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script type="module" src="../js/slider.js"></script>
</body>

</html>